menu "Uniqueid"

    config HEADER_ADDRESS_ID
        string "IPV6 HEADER"
        default "2001:db8:1:1"

    choice IPV6_MODE
        prompt "Select IPV6 Subnet mode"
        config MODE_STATIC
            bool "STATIC"

        if USEMODULE_AT86RF2XX || USEMODULE_AT86RF215 || USEMODULE_PERIPH_HWRNG
        config MODE_RANDOM
            bool "RANDOM"
        endif
    endchoice

endmenu
