menu "RPL settings"
#comment "RPL settings"
    config IS_DODAG
    bool "dodag node"
    default y

    config DODAG_INSTANCE
    int "Default DODAG instance"
    default 1

    config DODAG_IPV6_ADDRESS
    string "Wireless Address of DODAG"
    default "2001:db8::1"

endmenu #RPL
