menu "example configuration"

rsource "../../firmware/sys/Kconfig"
rsource "../../firmware/network/Kconfig"

menu "Interface"
#comment "Interface wifi and Radio"
config WIFI_SUBSYSTEM
    bool "Wifi-Subsytem Interface"
    default y

config IEEE_802154
    bool "Radio Interface"
    default n
endmenu #interface
endmenu
